mlflow==3.11.1
cloudpickle==3.1.1
coverage==7.13.3
defusedxml==0.7.1
dill==0.4.1
matplotlib==3.10.1
numba==0.62.1
numpy==2.3.5
opt-einsum==3.4.0
optree==0.18.0
pandas==2.3.3
pendulum==3.2.0
psutil==7.2.2
pyarrow==19.0.1
pytorch-forecasting==1.8.0
rich==14.3.4
scikit-learn==1.8.0
scipy==1.15.2
torch==2.11.0
torchvision==0.26.0
transformers==4.51.2
zstandard==0.23.0